<main-header>
	<section id="main-header">
		
		<div class="main-nav">
			<div class="container">
				<div layout="row">
					<div flex="20" style="padding-right:10px;">
						<img class="logo" src="assets/images/logo/mit-logo.png" height="40"/>
					</div>
					<div flex="60">
					  <ul class="nav-menu" >
							<li ng-class="{active: stateName.includes('products')}">
								<a href=""  ui-sref="app.products"  style="display: inline-block; padding: 6px 10px;">
					      			<img src="assets/images/nav-icons/home.png" width="20" ng-if="!stateName.includes('products')"/>
									<img src="assets/images/nav-icons/home-white.png" width="20" ng-if="stateName.includes('products')"/><br/>
									<strong>PRODUCTS</strong>
					      		</a>
							</li>
							<li ng-class="{active: stateName.includes('orders')}">
								<a href="" ui-sref="app.orders" style="display: inline-block;  padding: 6px 10px;">
									<img src="assets/images/nav-icons/clients.png" width="20" ng-if="!stateName.includes('orders')"/>
									<img src="assets/images/nav-icons/clients-white.png" width="20" ng-if="stateName.includes('orders')"/><br/>
									<strong>YOUR ORDERS</strong>
								</a>
							</li>
					  </ul>
					</div>
					<div flex="20">
						<a href="" class="pull-right" style="margin-top: 12px;display:none" ><!-- {{userDetails.userName}} --> 
						<img src="assets/images/temp/user-avatar.png" width="34" ng-click="logoutcheck();"/>
						 <md-tooltip>Log Out</md-tooltip>
						 </a>
						 <a ng-click="logoutcheck();"
						  href="" class="pull-right" style="margin-top: 12px;" >
						<img src="assets/images/temp/user-avatar.png" width="34" />
						
						 </a>
						 
						 
					</div>
				</div>
			</div>
		</div>
	</section>



</main-header>
<ui-view>
</ui-view>
<main-footer></main-footer>
