<div class="sideMenuBar" ng-controller="appCtrl">
					<ul>
						<li class="row pointer " ng-click="params.mode == 'update' ? changeState('placeDetails') : ''" > <!-- ui-sref="app.settings.placeDetails" -->
							<div class="col-sm-4" >
								<h2 NG-CLASS="{active: currentState == 'placeDetails'}">01</h2>
							</div>
							<div class="col-sm-8" style="padding-left: 10px;">
								<h6 ng-class="{active: currentState == 'placeDetails'}">PROPERTY <br/>DETAILS</h6>
								<!-- <strong>Place Type</strong>
								<strong >Space Type</strong> -->
							</div>
							<div class="arrowRight" ng-show="currentState == 'placeDetails'">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</li>
						<li class="row pointer"  ng-click="params.mode == 'update' ? changeState('spaceType') : ''"> <!-- ng-click="changeState('spaceType')" ui-sref="app.settings.spaceType"  -->
							<div class="col-sm-4">
								<h2 ng-class="{active: currentState == 'spaceType'}">02</h2>
							</div>
							<div class="col-sm-8" style="padding-left: 10px;">
								<h6 ng-class="{active: currentState == 'spaceType'}">VENUE <br/>DETAILS</h6>
							</div>
							<div class="arrowRight" ng-show="currentState == 'spaceType'">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</li>
						<li class="row pointer" ng-click="params.mode == 'update' ? changeState('availabilityAndPrice') : ''"> <!--  ng-click="changeState('availabilityAndPrice')"  ui-sref="app.settings.availabilityAndPrice"  -->
							<div class="col-sm-4">
								<h2 ng-class="{active: currentState == 'availabilityAndPrice'}">03</h2>
							</div>
							<div class="col-sm-8" style="padding-left: 10px;">
								<h6 ng-class="{active: currentState == 'availabilityAndPrice'}">AVAILABILITY <br/>& PRICE</h6>
							</div>
							<div class="arrowRight" ng-show="currentState == 'availabilityAndPrice'">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</li>
						<li class="row pointer" ng-click="params.mode == 'update' ? changeState('additionalOption') : ''"> <!--  ng-click="changeState('additionalOption')"  ui-sref="app.settings.additionalOption" -->
							<div class="col-sm-4">
								<h2 ng-class="{active: currentState == 'additionalOption'}">04</h2>
							</div>
							<div class="col-sm-8" style="padding-left: 10px;">
								<h6 ng-class="{active: currentState == 'additionalOption'}">ADDITIONAL <br/>OPTION</h6>
							</div>
							<div class="arrowRight" ng-show="currentState == 'additionalOption'">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</li>
						<li class="row pointer" ng-click="params.mode == 'update' ? changeState('placeExperience') : ''"> <!-- ng-click="changeState('placeExperience')"  ui-sref="app.settings.addExperience"-->
							<div class="col-sm-4" >
								<h2 ng-class="{active: currentState == 'placeExperience'}">05</h2>
							</div>
							<div class="col-sm-8" style="padding-left: 10px;">
								<h6 ng-class="{active: currentState == 'placeExperience'}">ADD <br/>EXPERIENCE</h6>
							</div>
							<div class="arrowRight" ng-show="currentState == 'placeExperience'">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</li>
						
						<li class="row pointer" ng-click="params.mode == 'update' ? changeState('promocode') : ''"> <!--   ui-sref="app.settings.promocode"-->
							<div class="col-sm-4" >
								<h2 ng-class="{active: currentState == 'promocode'}">06</h2>
							</div>
							<div class="col-sm-8" style="padding-left: 10px;">
								<h6 ng-class="{active: currentState == 'promocode'}">PROMO <br/>CODE</h6>
							</div>
							<div class="arrowRight" ng-show="currentState == 'promocode'">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</li>
						
							<li class="row pointer" ng-click="params.mode == 'update' ? changeState('referrer') : ''"> <!--   ui-sref="app.settings.promocode"-->
							<div class="col-sm-4" >
								<h2 ng-class="{active: currentState == 'referrer'}">07</h2>
							</div>
							<div class="col-sm-8" style="padding-left: 10px;">
								<h6 ng-class="{active: currentState == 'referrer'}">REFERRER</h6>
							</div>
							<div class="arrowRight" ng-show="currentState == 'referrer'">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</li>
						
					</ul>

				</div>