<div class="main-home">
	<div class="container">
	
	
		<div class="tableBooking">
			<div class="tb-header">
				<div layout="row">
					<div flex="50">
						<h5>Product List</h5>
					</div>
					<div flex="50" class="text-right manipulationIcon">
						<input type="text" ng-model="products.searchText"  placeholder="Search" style="background-image:url(assets/images/musica-searcher.png); "/>
						<button ng-click="addProduct($event)"><span><img src="assets/images/add.png" /></span> ADD PRODUCT</button>
					</div>
				</div>
			</div>
          
            <div style="overflow:auto;">
				<table style="min-width:800px;">
					<thead>
						<tr>
							<th>PRODUCT NAME</th>
							<th>DESCRIPTION</th>
							<th>UNIT PRICE</th>
							<th ><span style="display:inline-block;">ACTIONS</span></th>
						</tr>
					</thead>
					<tbody style="position: relative">
						<tr ng-repeat="dt in products.data | filter : products.searchText" >
							<td><span class="highlight" style="display:inline-block; max-width:200px; overflow: hidden;text-overflow: ellipsis;  white-space: nowrap;  "><md-tooltip md-direction="bottom">{{dt.name}}</md-tooltip> {{dt.name}}</span></td>
							<td>{{dt.desc}}</td>
							<td><i class="fa fa-inr inr"></i>{{dt.price}}</td>
							<td>
	                          <button ng-click="buyProduct($event, dt)"  style="background-color:#7198df; color:#FFFFFF; border:none; font-size: 12px;    font-weight: 600; border-radius:20px; padding:5px 20px 5px;">
								BUY
							</button>
	                        </td>
						</tr>
					</tbody>
				</table>
			</div>

            <div ng-show="products.loading" class="containerLoader" layout layout-align="center" style="opacity:0.2;position: fixed;width: 100%;top:45%;left:0">
                <md-progress-circular  style="opacity: 1" ng-disabled="!vm.activated" class="md-hue-2" md-diameter="200px"></md-progress-circular>
            </div>


            <div style="text-align: center; padding:35px 0" ng-show="(!products.data || products.data.length == 0) && !products.loading && products.status != 'FAILURE'">
                <img width="35%" src="assets/images/no-result.png"/>
            </div>
            
             <div style="text-align: center; padding:35px 0;color:red" ng-show="!products.loading && products.status == 'FAILURE'">
                {{products.message}}
            </div>
		</div>
	</div>
</div>

